body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, hsl(44.52, 100%, 49.41%), hsl(27.92, 96.84%, 49.61%), hsl(339.34, 48.03%, 50.2%), hsl(277.05, 79.91%, 44.9%));


}

* {
    box-sizing: border-box;
    font-weight: bolder;
    border-radius: 10px;
}

.start-div {
    display: flex;
    column-gap: 1rem;
}

.start,
.restart {
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: hsl(233.33, 18.37%, 19.22%);
    border: none;
    font-size: 30px;
    color: hsl(60, 0.43%, 45.29%);

}

.restart-button-div {
    margin-left: auto;
}

.time-moves {
    font-size: 20px;
    color: white;
}

.main-contsiner {
    margin-top: 5rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;

    flex-basis: 80vh;
    justify-content: center;
    row-gap: 1rem;

}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: bisque;
    background: linear-gradient(to bottom right, hsl(277.05, 79.91%, 44.9%), hsl(339.34, 48.03%, 50.2%), hsl(27.92, 96.84%, 49.61%), hsl(44.52, 100%, 49.41%));
    height: 100%;
    width: 100%;


}

.card {
    flex: 0 0 20%;
    background-color: hsl(251.25, 16%, 19.61%);
    min-height: 15vh;
    transition: transform 0.5s;

    transform: none;

}

img {
    display: none;
    width: 100%;
    height: 100%;
    transform: none;
}

.rotate {
    transform: rotateZ(45deg) rotateY(180deg) rotateZ(45deg);
    background-color: aliceblue;

}

.active {
    color: white;

}

@media (max-width: 768px) {
    .main-contsiner {
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;



    }

    .cards-container {
        padding: 0.5rem;
    }

    .card {
        min-height: 13vh;
    }

    .start,
    .restart {
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;


        font-size: 20px;


    }

    .time-moves {
        font-size: 15px;
        color: white;
    }
}